body {
  margin: 0;
  font-family: poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #070707;
}

code {
  font-family: poppins, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes cover-move {
  0% { transform: translateX(-20px); }
  50% { transform: translateX(20px); }
  100% { transform: translateX(-20px); }
}

@keyframes image-move {
  0% { transform: translateX(20px); }
  50% { transform: translateX(-20px); }
  100% { transform: translateX(20px); }
}

@keyframes updown {
  0% { transform: translateY(-20px); }
  50% { transform: translateY(20px); }
  100% { transform: translateY(-20px); }
}

.image-section {
  animation: cover-move 5s infinite;
  animation-timing-function: ease-in-out;
}

.other-image1 {
  position: relative;
  right: -5em;
  top: 5em;
  transform: rotate(-90);
  animation: updown 5s linear infinite;
}

.other-image2 {
  position: relative;
  top: -10em;
  right: 1.5em;
  animation: image-move 5s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.features.features-animate {
  animation: fadeIn 1s forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.propositions.propositions-animate {
  animation: slideLeft 1s forwards;
}


